<div class="container">
          <div class="row">
            <div class="col-12 col-lg-4 mb-4">
              <p><strong>Get In Touch</strong></p>
              <p class="mt-1 pt-1">
                
              </p>
            </div>
            <div class="col-12 col-lg-4 mb-4">
              <p><strong>General Inquiries</strong></p>
              <p class="mt-1 pt-1">
                <a href="mailto:info@lipsum.com" class="ctalinks">info@lipsum.com</a>
              </p>

              <p class="footer--paddingtop m-0"><strong>Connect with us</strong></p>
              <p class="mt-1 pt-1">
                <a href="https://www.linkedin.com/company/lipsum/" target="_blank">
                  <!-- <i class="icon-linkedin connecticon"></i> -->
                  <img src="/theme/img/icon/icon-linkedin.png" alt="Linkedin">
                </a>
              </p>
            </div>
            <div class="col-12 col-lg-4 mb-4">
              <p><strong>Quick Links</strong></p>
              <p class="mt-1 pt-1">
                <p class="m-0"><a href="careers.html">Careers</a></p>
                <p class="mt-2 pt-1"><a href="partners.html">Partners</a></p>
                <!-- <p class="mt-2 pt-1"><a href="">MNO</a></p> -->
              </p>
            </div>

            <!--scrolltotop-->
            <a href="#page-top" class="jscroll-trigger scrolltotop">
              <i class="icon-chevron-top"></i>
            </a>

            <!-- <div class="col-12 pt-3">
              <p class="tinytxt">We are constantly expanding the content of our website. Check back frequently for the latest updates.</p>
            </div> -->

          </div>
          <hr>
          <div class="row">
            <div class="col-12 col-lg order-lg-2 text-lg-right my-auto">
              <a href="/privacy-notice.html" class="footnote">Privacy Notice</a>
            </div>

            <div class="col-12 col-lg order-lg-1 my-auto">
              <p class="footnote">
                &copy; 2021 Lorem Ipsum (1219503-P) All Rights Reserved
              </p>
            </div>

          </div>
        </div>