<section id="content" class="standardpad">
        <div class="container">
          <div class="row stagger-tween mb-5 pb-5 border-bottom">
            <div class="col-12 col-lg-6">
              <h2 class="weight-bolder stagger-tween-item font-primary mb-3 mb-lg-0">5G EXPLAINED</h2>
            </div>
          </div>
          <div class="row stagger-tween">
            <div class="col-12 col-lg-6 my-auto">
              <h2 class="weight-light stagger-tween-item">What is 5G?</h2>
              <p class="larger mt-3 mb-4 mb-lg-0 stagger-tween-item">
                5G is the latest generation of cellular technology. <br class="d-none d-lg-block">It is meant to deliver faster, more reliable, and lower latency connectivity than earlier generations.  It is set to revolutionise our everyday experiences and open up a future of <br class="d-none d-lg-block">unparalleled possibilities.
              </p>
            </div>
            <div class="col-12 col-lg-6 my-auto stagger-tween-item">
              <div class="row">
                <div class="col-11 col-lg-12 inershadow mx-auto">
                  <div class="row no-gutters">
                    <div class="col-6 my-auto fivegslider">
                      <div class="row no-gutters">
                        <div class="col-6">
                          <div class="whatis5g">
                            <div class="whatis5g-items colorbluebg"><div class="counter innertop">5</div></div>
                            <div class="whatis5g-items"><div class="innertop">4</div></div>
                            <div class="whatis5g-items"><div class="innertop">3</div></div>
                            <div class="whatis5g-items"><div class="innertop">2</div></div>
                            <div class="whatis5g-items"><div class="innertop">1</div></div>
                          </div>
                        </div>
                        <div class="col-5 text-left">
                          <div class="innertop">
                            G
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6 mb-auto pl-2 pl-lg-3">
                      <div class="contentwhatis5g">

                        <div class="contentwhatis5g-items">
                          <div class="d-flex align-items-start flex-column h-100">
                            <p class="smarllermob mb-auto">
                              Now - Augmented reality/Virtual reality for consumers and industry <strong>Up to 10 Gbps</strong>
                            </p>
                            <div class="mt-auto"><img src="/theme/img/icon/logo-5g.svg" alt="icon" class="logoicon"></div>
                          </div>
                        </div>
                        <div class="contentwhatis5g-items">
                          <div class="d-flex align-items-start flex-column h-100">
                            <p class="smarllermob mb-auto">
                              2010s - Mobile video <strong>Up to 1 Gbps</strong>
                            </p>
                            <div class="mt-auto"><img src="/theme/img/icon/logo-4g.svg" alt="icon" class="logoicon"></div>
                          </div>
                        </div>
                        <div class="contentwhatis5g-items">
                          <div class="d-flex align-items-start flex-column h-100">
                            <p class="smarllermob mb-auto">
                              2000s - Mobile web browsing <strong>Up to 2 Mbps</strong>
                            </p>
                            <div class="mt-auto"><img src="/theme/img/icon/logo-3g.svg" alt="icon" class="logoicon"></div>
                          </div>
                        </div>
                        <div class="contentwhatis5g-items">
                          <div class="d-flex align-items-start flex-column h-100">
                            <p class="smarllermob mb-auto">
                              1990s - Mobile voice calls and SMS <strong>Up to 64 kbps</strong>
                            </p>
                            <div class="mt-auto"><img src="/theme/img/icon/logo-2g.svg" alt="icon" class="logoicon"></div>
                          </div>
                        </div>
                        <div class="contentwhatis5g-items">
                          <div class="d-flex align-items-start flex-column h-100">
                            <p class="smarllermob mb-auto">
                              1980 - Mobile voice calls <strong>Up to 2 kbps</strong>
                            </p>
                            <div class="mt-auto"><img src="/theme/img/icon/logo-1g.svg" alt="icon" class="logoicon"></div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="vid-banner">
          <div class="vid-banner-items videoslideimg">
            <div class="videobgoverlay"></div>
            <div class="bgoverlay2"></div>
            <video playsinline webkit-playsinline autoplay muted width="1280" height="720" class="videoplay">
              <source type="video/mp4" src="/theme/video/unparalleled-possibilities.mp4">
            </video>
            <div class="container stagger-tween textcover">
              <div class="row">
                <div class="col-12 col-lg-6 order-1 order-lg-2 offset-lg-6 my-auto">
                  <div class="row">
                    <div class="col-12">
                      <h2 class="text-white firstline stagger-tween-item mt-3 pt-5 mt-lg-0 pt-lg-0">
                        How Will 5G Enable <br class="d-none d-lg-block">
                        Unparalleled Possibilities <br class="d-none d-lg-block">
                        for the Future?
                      </h2>
                    </div>
                  </div>

                  <div class="row mb-5 pb-3 mb-lg-3 pb-lg-0">
                    <div class="col-6 stagger-tween-item">
                      <div class="uspcontent">
                        <div class="uspcontent-title"><span class="newcounter">10</span>x to <span class="newcounter">100</span>x</div>
                        <div class="uspcontent-sub">faster speeds, thereby making downloading and uploading large data or content a breeze</div>
                      </div>
                    </div>

                    <div class="col-6 stagger-tween-item">
                      <div class="uspcontent">
                        <div class="uspcontent-title"><span class="newcounter">1000</span>x</div>
                        <div class="uspcontent-sub">more connections than 4G. One million connected devices per square kilometre</div>
                      </div>
                    </div>

                    <div class="col-6 stagger-tween-item">
                      <div class="uspcontent">
                        <div class="uspcontent-title"><span class="newcounter">5</span>x</div>
                        <div class="uspcontent-sub">quicker response — meaning sending and receiving information is now more efficient</div>
                      </div>
                    </div>

                    <div class="col-6 stagger-tween-item">
                      <div class="uspcontent">
                        <div class="uspcontent-title"><span class="newcounter">5</span>x</div>
                        <div class="uspcontent-sub">more energy efficient compared to earlier generations</div>
                      </div>
                    </div>


                    <div class="col-12 stagger-tween-item">
                      <a href="/benefits-overview.html" class="generalcta outline hoversolid mt-5">Discover 5G’s Possibilities</a>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>